<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#db0000" />
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png" />
    <link rel="manifest" href="manifest.json" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
    <title>Chikaku Resto</title>
  </head>
  <body>
    <a href="#maincontent" class="skip-link">Menuju ke konten</a>
    <header class="header">
      <a href="#/" class="header__logo">Chikaku</a>

      <button
        type="button"
        style="border-style: none"
        id="nav-toggle"
        aria-label="navigation-menu"
      >
        <ion-icon name="menu" class="header__toggle"></ion-icon>
      </button>

      <nav class="nav" id="nav-menu">
        <div class="nav__content bd-grid">
          <button type="button" id="nav-close" aria-label="close-menu">
            <ion-icon name="close" class="nav__close"></ion-icon>
          </button>
          <div class="nav__perfil">
            <div class="nav__img">
              <picture>
                <source class="lazyload" media="(max-width: 600px)" srcset="/images/heros/logo-small.jpg">
                <img 
                    class="lazyload"
                    data-src='/images/heros/logo-large.jpg' 
                    alt="warung mekdi"></img>
            </picture>
            </div>

            <div>
              <a href="#/" class="nav__name">Chikaku</a>
              <span class="nav__profesion">Katalog Restoran</span>
            </div>
          </div>

          <div class="nav__menu">
            <ul class="nav__list">
              <li class="nav__item">
                <a href="#/home" class="nav__link active">Home</a>
              </li>
              <li class="nav__item">
                <a href="#/favorite" class="nav__link">Favorite</a>
              </li>
              <li class="nav__item">
                <a
                  href="https://www.linkedin.com/in/ahmad-arwani-4710011ba/"
                  class="nav__link"
                  target="_blank"
                  >About Us</a
                >
              </li>
              <li class="nav__item">
                <a href="#" class="nav__link nav__search"
                  ><ion-icon name="search-sharp"></ion-icon
                ></a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <section class="hero">
      <div class="container">
        <div class="info">
          <h1>Eat End Hangout</h1>
          <h2>Dapatkan tempat restoran terbaik dari kami</h2>
          <p></p>
          <p>
            Sajian bercita rasa lokal kini hadir di CHIKAKU Indonesia. Nikmati
            kelezatan beragam menu makanan pilihan dari berbagai resto atau cafe
            dari kami
          </p>
          <button type="button" class="btn">Get Started</button>
        </div>
      </div>
    </section>

    <main id="maincontent">
      <!-- <div class="title">
        <h2>Tempat Pilihan</h2>
        <span
          >Rekomendasi tempat-tempat pilihan yang berkualitas dari kami</span
        >
      </div> -->
      <!-- <div class="cards" id="maincontent"></div> -->
    </main>

    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="footer-col">
            <h4>company</h4>
            <ul>
              <li><a href="#">about us</a></li>
              <li><a href="#">our services</a></li>
              <li><a href="#">privacy policy</a></li>
            </ul>
          </div>
          <div class="footer-col">
            <h4 style="margin-top: 0">get help</h4>
            <ul>
              <li><a href="#">FAQ</a></li>
              <li><a href="#">order status</a></li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>tautan</h4>
            <ul>
              <li><a href="#">Katalog & brosur</a></li>
              <li><a href="#">ruang kerja</a></li>
              <li><a href="#">ruang bisnis</a></li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>office</h4>
            <ul>
              <li><a href="#">Chikaku Indonesia</a></li>
              <li>
                <a href="#"
                  >Jl H Agus <br />
                  Salim No.10A</a
                >
              </li>
              <li><a href="#">Jakarta, Indonesia</a></li>
              <li><a href="#">Copyright© 2019-2021 Chikaku</a></li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>follow us</h4>
            <div class="social-links">
              <a href="#"><ion-icon name="logo-facebook"></ion-icon></a>
              <a href="#"><ion-icon name="logo-yahoo"></ion-icon></a>
              <a href="#"><ion-icon name="logo-instagram"></ion-icon></a>
              <a href="#"><ion-icon name="logo-whatsapp"></ion-icon></a>
              <a href="#"><ion-icon name="logo-twitter"></ion-icon></a>
            </div>
          </div>
          <div class="footer-col c">
            <h5>Lorem ipsum dolor sit.</h5>
          </div>
        </div>
      </div>
    </footer>

    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
  </body>
</html>
